<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To Casio Watch Club</title>
  </head>
  <body>
    <div>
      <a href="/">Logout</a>
      <h1>Logged in ! Welcome To Casio Watch Club</h1>
    </div>
    <div>
      <div>
        <h1>Latest Messages</h1>
        <ul>
          <%if (allMessages.length>0){%> <%allMessages.forEach(result=>{ %>
          <li>
            <strong>Time:</strong> <%=result.timestamp%>,
            <strong>User:</strong> <%=result.first_name%>,
            <strong>Title:</strong> <%=result.title%>,
            <strong>Content :</strong> <%=result.content%>
            <%if(result.admin===true){%>

            <form method="post" action="/authorized">
              <button type="submit">Delete Message (Only Admins)</button>
            </form>
            <%}%>
          </li>
          <% }); %> <%}else{%>
          <p>No Messages</p>

          <%}%>
        </ul>
      </div>

      <a href="/new">Create New Message</a>
    </div>
  </body>
</html>
