<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Casio Watch Club</title>
</head>
<body>
    <div>
        <a href="/">Logout</a>
        <h1>Logged in ! Welcome To Casio Watch Club</h1>

    </div>
</body>
</html>