<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
  </head>
  <body>
    <div>
      <h1>Welcome To Casio Watch Club, Members only Site !</h1>

      <div>
        <h2>Signin to your account</h2>

        <form method="POST" action="/">
          <label for="username">User Name: </label><br />
          <input type="text" name="username" id="username" /><br />

          <label for="password">Password: </label><br />
          <input type="password" name="password" id="password" /><br />

          <button type="submit">Login</button>
        </form>
      </div>
      <div>
        <h3>If you are not registered, you can register below</h3>
      </div>
      <div>
        <h2>Signup Form</h2>
        <h3>Please read the instructions below before signing up</h3>
        <ol>
          <li>
            Please note as a exclusive club to discuss about Casio Watches in
            Melbourne, you need to be invited with an invitation code to
            register
          </li>

          <li>
            Please attend 3 meetup events in Melbourne and talk to a meetup
            organizer to obtain sign up code. Attending events and registering
            is Free, however you need to be an active Casio watch owner based in
            Melbourne, Australia
          </li>
          <li>
            If you wish to register as an Admin you will need an admin code,
            these are only given to long term members who are trusted
          </li>
        </ol>
        <form method="POST" action="/authorized">
          <label for="first_name">First Name: </label><br />
          <input
            type="text"
            name="first_name"
            id="first_name"
            value="Rookie"
            required
          />
          <br />

          <label for="last_name">Last Name:</label><br />
          <input
            type="text"
            name="last_name"
            id="last_name"
            value="Jones"
            required
          /><br />

          <label for="username">E-mail (This will be your username):</label
          ><br />
          <input
            type="email"
            name="username"
            id="username"
            value="rookie@rookie.com.au"
            required
          /><br />

          <label for="password">Password:</label><br />
          <input
            type="password"
            name="password"
            id="password"
            value="20252025"
            required
          /><br />

          <label for="password_confirm">Confirm Password:</label><br />
          <input
            type="password"
            name="password_confirm"
            id="password_confirm"
            value="20252025"
            required
          /><br />

          <label for="membership_status">Invitation Code:</label><br />
          <input
            type="text"
            name="membership_status"
            id="membership_status"
            value="false"
            required
          /><br />

          <label for="admin">Admin Code: </label><br />
          <input
            type="text"
            name="admin"
            id="admin"
            value="false"
            required
          /><br />

          <button type="submit">Signup</button>
          <button type="reset">Reset</button>
        </form>
      </div>

      <div>
        <h1>Latest Messages</h1>
        <ul>
          <%if (allMessages.length>0){%> <%allMessages.forEach(result=>{ %>
          <li>
            <strong>Time:</strong> <%=result.timestamp%>,
            <strong>Title:</strong> <%=result.title%>,
            <strong>Content :</strong> <%=result.content%>
          </li>
          <% }); %> <%}else{%>
          <p>No Messages</p>

          <%}%>
        </ul>
      </div>
    </div>
  </body>
</html>
