<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Deleted</title>
</head>
<body>
    <h1>Message Deleted successfully</h1>
    <a href="/authorized">Return to Members Area</a>
</body>
</html>