<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <div>
      <h1>New Message</h1>
      <form method="POST" action="/">
        <label for="title">Message Title:</label><br />
        <input type="text" name="title" id="title" /><br />

        <label for="content">Message Content:</label><br />
        <input type="text" name="content" id="content" /><br />

        <label for="author_name">Author Name:</label><br />
        <input type="text" name="author_name" id="author_name" /><br />

        <label for="author_id"></label><br />
        <input type="text" name="author_id" id="author_id" /><br />

        <button type="submit">Create Message</button>
      </form>
      <a href="/">Back To Main Page</a>
    </div>
  </body>
</html>
