<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <div>
      <h1>New Message</h1>

      <p>Membership: <%=loggedInUserDetails.membership_status%></p>

      <%if (loggedInUserDetails.membership_status===true){%>
      <form method="POST" action="/new">
        <label for="title">Message Title:</label><br />
        <input type="text" name="title" id="title" /><br />

        <label for="content">Message Content:</label><br />
        <textarea type="text" name="content" id="content"></textarea><br />

        <label for="author_name">Author Name:</label><br />
        <input
          type="text"
          name="author_name"
          id="author_name"
          value="<%=loggedInUserDetails.first_name%>"
          readonly
        /><br />

        <label for="author_id">Author Id</label><br />
        <input
          type="text"
          name="author_id"
          id="author_id"
          value="<%=loggedInUserDetails.id%>"
          readonly
        /><br />

        <button type="submit">Create Message</button>
      </form>
      <%} else {%>
      <h2>You are not a Member !</h2>
      <%}%>

      <a href="/authorized">Back To Casio Watch Club</a>
    </div>
  </body>
</html>
