<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unauthorized !</title>
  </head>
  <body>
    <div>
      <h1>That didn't work, your are not logged in or you tried to visit an unavailable page !</h1>
      <a href="/">Back To Login Screen</a>
    </div>
  </body>
</html>
